/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #232323;
  color: #fff;
}

h1 {
  color: #66b75c;
  text-align: center;
  margin-top: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container h2 {
  color: #66b75c;
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 10px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #66b75c;
}

.input-group input {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #444;
  background-color: #555;
  color: #fff;
}

.button-group {
  text-align: right;
  margin-top: 10px;
}

.button-group button {
  padding: 8px 16px;
  border-radius: 3px;
  border: none;
  background-color: #66b75c;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-group button:not(:last-child) {
  margin-right: 10px;
}

.button-group button:hover {
  background-color: #79a473;
}

#Employees {
  margin-top: 20px;
}

#Employees div {
  padding: 10px;
  background-color: #555;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

#Employees div:last-child {
  margin-bottom: 0;
}

#Employees div button {
  background-color: #4ab80b;
  margin-left: 5px;
  color: #fff;
}

#Employees div button:hover {
  background-color: #d14040;
}

a {
  color: #66b75c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#add-car-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

#add-car-button:hover {
  background-color: darkgreen;
}

#add-car-button:focus {
  outline: none;
}

.form-section {
  margin: auto;
  width: 50%;
  text-align: center;
}

button.container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
